
body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    background-color: rgb(252, 250, 248);
       
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
}


header{
    background-color: rgb(68, 67, 67);
    margin: 0 auto;
    
}



.logo{
    padding: 1em;
    font-family: 'Abril Fatface', serif;
    color: coral;
    text-align: center;
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;

}

li {
    
    list-style : none;
    align-items :stretch;
    
    
}


li a:hover {
    background-color: rgb(26, 25, 25);
    color: white;
}
li a {
    padding: 1em;
    color: white;
    text-decoration: none;
    display: block;
    
}


p{
    font-size: 1em;
}


/* MAIN */




/* Section info  */

.info-area{
    padding-top: 1.2em ;
    padding-bottom: 1.2em;
    background-color: rgb(253, 232, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-container{
    width: 100%;
    margin-left: 2em;
    
}


/* Section cards-area   */

.cards-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.img-size-responsive {
    max-width: 100%;
    height: auto;
} 



.img-fit-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
   
}


.container {
    padding: 2em;
    width: 100%;
    height: auto;
   
}



.store-cards{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 1px 1px 20px rgb(221, 216, 216);

}




.cds-text{
    background-color: rgb(247, 244, 244);
    width: 100%; 
}

.cds-text p:first-child {
    color: rgb(21, 21, 21);
    text-align: left;
    font-size: large;

}

.cds-text p:nth-child(2) {
    color: rgb(156, 156, 156); 
    font-size: 0.95em; 
    text-align: left;
}

.cds-text p:nth-child(3)  {
    color: rgb(87, 152, 70); 
    text-align: left;
}


.divPara{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.divPara p:first-child{
    background-color: rgb(238, 238, 237);
    display: inline-flex;
    padding: 5px 40px 5px;
    border: 0.12em solid;
    border-radius: 70px;
    
}

.divPara p:first-child:hover{
    background-color:  rgb(46, 45, 45);
    color: rgb(244, 235, 235);
    border: 0.12em solid  black;

}

footer{
    height: 3em;
    background-color: rgb(68, 67, 67);
}



@media only screen and (min-width: 750px) and (max-width : 1000px) {


    
    header{
        background-color: rgb(68, 67, 67); 
    }

    nav{
        background-color: rgb(68, 67, 67);

    }



    .logo{
        padding: 1em;
        font-family: 'Abril Fatface', serif;
        color: coral;
        text-align: left;
    }
    
    ul{

        width: 100%;
        height: 3.20em;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
    }

    li:nth-of-type(1) {flex-grow: 3;}
    li:nth-of-type(2) {flex-grow: 1;}
    li:nth-of-type(3) {flex-grow: 1;}
    li:nth-of-type(4) {flex-grow: 1;}



    .img-fit-div{
        height: 280px;
        width: 100%;
    }

    .img-fit-div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        padding: 1em;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px 15px;
        grid-template-areas:
        "store-cards1 store-cards2"
        "store-cards3 store-cards4" 
        "store-cards5 store-cards6"
        "store-cards7 store-cards8"     ;
    }

      
    .store-cards1 { grid-area: store-cards1;}

    .store-cards2 { grid-area: store-cards2; }

    .store-cards3 { grid-area: store-cards3; }

    .store-cards4 { grid-area: store-cards4; }

    .store-cards5 { grid-area: store-cards5; }

    .store-cards6 { grid-area: store-cards6; }

    .store-cards7 { grid-area: store-cards7; }

    .store-cards8 { grid-area: store-cards8; }


    .store-cards{

    box-shadow: 1px 1px 20px rgb(221, 216, 216);

    }
  


    .cds-text{
        background-color: rgb(247, 244, 244);
    }

    .cds-text p:first-child {
        color: rgb(21, 21, 21);
        text-align: left;
        font-size: large;

    }

    .cds-text p:nth-child(2) {
        color: rgb(156, 156, 156); 
        font-size: 0.95em; 
        text-align: left;
    }

    .cds-text p:nth-child(3)  {
        color: rgb(87, 152, 70); 
        text-align: left;
    }


    .divPara{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divPara p:first-child{
        background-color: rgb(238, 238, 237);
        display: inline-flex;
        padding: 5px 40px 5px;
        border: 0.12em solid;
        border-radius: 70px;
        
    }

    .divPara p:first-child:hover{
        background-color:  rgb(46, 45, 45);
        color: rgb(244, 235, 235);
        border: 0.12em solid  black;

    }


  

    

}
/* Grand écran */

@media only screen and (min-width : 1440px) {
 
 
    header{
        background-color: rgb(68, 67, 67);
        display: flex;
        justify-content: center;
     
    }

    nav {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    ul{
        width: 100%;
        height: 3.20em;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
    }

    li:nth-of-type(1) {flex-grow: 6;}
    li:nth-of-type(2) {flex-grow: 1;}
    li:nth-of-type(3) {flex-grow: 1;}
    li:nth-of-type(4) {flex-grow: 1;}

    .logo{
        padding: 1em;
        font-family: 'Abril Fatface', serif;
        color: coral;
        text-align: left;
    }
    
    li a {
        padding: 1em;
        color: white;
        text-decoration: none;
        display: block;
    }

    .info-container{
        width: 80%;
        
    }



    .img-fit-div{
        width: 360px;
        height:330px;
    }

    .img-fit-div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        padding-top: 2.5em;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 0px;
        grid-template-areas:
        "store-cards1 store-cards2 store-cards3" 
        "store-cards4 store-cards5 store-cards6"
        "store-cards7 store-cards8 ."     ;
    }

    .store-cards{
        width: 360px;
        box-shadow: 1px 1px 20px rgb(221, 216, 216);
    
    }

       
    .store-cards1 { grid-area: store-cards1;}

    .store-cards2 { grid-area: store-cards2; }

    .store-cards3 { grid-area: store-cards3; }

    .store-cards4 { grid-area: store-cards4; }

    .store-cards5 { grid-area: store-cards5; }

    .store-cards6 { grid-area: store-cards6; }

    .store-cards7 { grid-area: store-cards7; }

    .store-cards8 { grid-area: store-cards8; }


    .cds-text{
        background-color: rgb(247, 244, 244);
        width: 100%; 
    }

    .cds-text p:first-child {
        color: rgb(21, 21, 21);
        text-align: left;
        font-size: large;

    }

    .cds-text p:nth-child(2) {
        color: rgb(156, 156, 156); 
        font-size: 0.95em; 
        text-align: left;
    }

    .cds-text p:nth-child(3)  {
        color: rgb(87, 152, 70); 
        text-align: left;
    }


    .divPara{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divPara p:first-child{
        background-color: rgb(238, 238, 237);
        display: inline-flex;
        padding: 5px 40px 5px;
        border: 0.12em solid;
        border-radius: 70px;
        
    }

    .divPara p:first-child:hover{
        background-color:  rgb(46, 45, 45);
        color: rgb(244, 235, 235);
        border: 0.12em solid  black;

    }

        
  
    

}